header {
    text-align: justify;
    letter-spacing: 1px;
    color: #fff;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
a {text-decoration: none;}
footer {
    text-align: justify;
    letter-spacing: 1px;
}
hr{
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 2px dashed #ddd;
    background: #999;
}
body{
    padding: 1em;
}